mixin modal()
    #callback(class="modal fade")
        .modal-dialog.modal-md
            .modal-content
                .modal-header.modal-padding
                    p.modal-header__title Узнать цену
                    //button(type="button", class="close", data-dismiss="modal", aria-hidden="true"): +icon('clear')
                .modal-body.modal-padding
                    .row: .col-xs-11
                        #callback-form
                            .modal__table
                                .modal__table-row
                                    div.modal__table-col
                                        span Ваша заявка
                                    div.modal__table-col
                                        input.form-control(placeholder="Экскаватор TVEX 180W")
                                .modal__table-row
                                    div.modal__table-col
                                        span Ваш город
                                    div.modal__table-col
                                        input.form-control(placeholder="")
                                .modal__table-row
                                    div.modal__table-col
                                        span Приобретение в лизинг
                                    div.modal__table-col
                                        input.form-control(placeholder="")
                                .modal__table-row
                                    div.modal__table-col
                                        span Ф.И.О
                                    div.modal__table-col
                                        input.form-control(placeholder="")
                                .modal__table-row
                                    div.modal__table-col
                                        span Эл. почта
                                    div.modal__table-col
                                        input.form-control(placeholder="")
                                .modal__table-row
                                    div.modal__table-col
                                        span Телефон
                                    div.modal__table-col
                                        input.form-control(placeholder="")
                            br
                            .text-center: button.btn.btn-orange.btn-ttu Отправить заявку

