extends personal-main

block personal_content
    h1(style="margin-top: 0;").hidden-md-up Любимые блюда
    .personal__meals
        .personal__meals-title.text-right кол-во
            br
            |заказов

        .live-meals-block
            .live-meals
                .live-meals__item.live-meals__item_green
                    .live-meals__item-icon: +icon('sup', 'svg-sup', 30, 29)
                    .live-meals__item-like
                        +icon('love', 'svg-love', 16, 18)
                    .live-meals__item-title Суп Борщ
                    .live-meals__item-label
                        span.label.label_success 20%
                    .live-meals__item-count.text-right 199
                .live-meals__item-after(style="width: 100%;")

                .live-meals__item.live-meals__item_green
                    .live-meals__item-icon: +icon('dessert', 'svg-dessert', 30, 26)
                    .live-meals__item-like
                    .live-meals__item-title Торт Наполеон
                    .live-meals__item-label
                        span.label.label_success 20%
                    .live-meals__item-count.text-right 89

                .live-meals__item-after(style="width: 50%;")
                .live-meals__item.live-meals__item_green
                    .live-meals__item-icon: +icon('sushi', 'svg-sushi', 44, 27)
                    .live-meals__item-like
                    .live-meals__item-title Ролл Филадельфия
                    .live-meals__item-label
                        span.label.label_success 20%
                    .live-meals__item-count.text-right 70
                .live-meals__item-after(style="width: 40%;")

                .live-meals__item
                    .live-meals__item-icon: +icon('sushi', 'svg-sushi', 44, 27)
                    .live-meals__item-like
                    .live-meals__item-title Ролл Калифорния
                    .live-meals__item-label
                    .live-meals__item-count.text-right 70
                .live-meals__item-after(style="width: 10%;")

                .live-meals__item
                    .live-meals__item-icon: +icon('gril', 'svg-gril', 27, 39)
                    .live-meals__item-like
                    .live-meals__item-title Стейк Рибай
                    .live-meals__item-label
                    .live-meals__item-count.text-right 17
                .live-meals__item-after(style="width: 10%;")

                .live-meals__item
                    .live-meals__item-icon: +icon('sup', 'svg-sup', 30, 29)
                    .live-meals__item-like
                    .live-meals__item-title Суп Солянка
                    .live-meals__item-label
                    .live-meals__item-count.text-right 8
                .live-meals__item-after(style="width: 10%;")

                .live-meals__item
                    .live-meals__item-icon: +icon('dessert', 'svg-dessert', 30, 26)
                    .live-meals__item-like
                    .live-meals__item-title Десерт Тирамису
                    .live-meals__item-label
                    .live-meals__item-count.text-right 8
                .live-meals__item-after(style="width: 10%;")

                .live-meals__item
                    .live-meals__item-icon: +icon('pizza', 'svg-pizza', 39, 29)
                    .live-meals__item-like
                    .live-meals__item-title Пицца Рай мясника
                    .live-meals__item-label
                    .live-meals__item-count.text-right 8
                .live-meals__item-after(style="width: 10%;")

                .live-meals__item
                    .live-meals__item-icon: +icon('pasta', 'svg-sup', 39, 29)
                    .live-meals__item-like
                    .live-meals__item-title Паста Болоньезе
                    .live-meals__item-label
                    .live-meals__item-count.text-right 8
                .live-meals__item-after(style="width: 10%;")

                .live-meals__item
                    .live-meals__item-icon: +icon('gril', 'svg-gril', 27, 39)
                    .live-meals__item-like
                    .live-meals__item-title Куриные крылышки гриль
                    .live-meals__item-label
                    .live-meals__item-count.text-right 8
                .live-meals__item-after(style="width: 10%;")

        br
        br
        a(href="#"): b Что такое «Любимые блюда»?
        p Текст описания акции
