extends personal-main

block personal_content
    h1(style="margin-top: 0;").hidden-md-up Бонусы
    .personal__bonuses
        .balance
            .balance__icon: +icon('purse', 'svg-purse', 33, 30)
            .balance__desc
                .balance__title Ваш бонусный баланс
                .balance__price
                    | 149
                    |&nbsp;
                    span.hidden-sm-down &nbsp;
                    | FlyRub
        br
        form
            .form-group
                .input-anim
                    input.form-control(value="kjj14884862jk2")
                    labal.input-anim__label Код приглашения
            .form-group
                .input-anim
                    input.form-control(value="http://flyfoods.ru/janjan?b_kjj14884862jk2")
                    labal.input-anim__label Ссылка для приглашения

        br.hidden-sm-down
        br
        .personal__contacts
            .personal__contacts-item
                div
                    span 02 апр 2017
                div.text-center
                    span № 154857
                div
                    span.color-green +51₽
            .personal__contacts-item
                div
                    span 27 мар 2017
                div.text-center
                    span Регистрация FlyCard
                div
                    span.color-green +50₽
            .personal__contacts-item
                div
                    span 23 мар 2017
                div.text-center
                    span №154700
                div
                    span.color-red +51₽
            .personal__contacts-item
                div
                    span 02 апр 2017
                div.text-center
                    span № 154857
                div
                    span.color-green +51₽
            .personal__contacts-item
                div
                    span 27 мар 2017
                div.text-center
                    span Регистрация FlyCard
                div
                    span.color-green +50₽
            .personal__contacts-item
                div
                    span 23 мар 2017
                div.text-center
                    span №154700
                div
                    span.color-red +51₽