extends personal-main

block personal_content
    .stock.stock_personal
        .stock__item
            .stock__item-title Пробуем новый набор «Green Villa Pizza»
            .stock__item-img: +img('content/stock')
            .stock__item-text
                p Пикантная пицца на тонком тесте, с бараньим фаршем, кусочками тыквы, болгарским перцем, луком, моцареллой и томатным соусом.
                p Цена набора всего 333 рубля.
                p.color-grey Действует до 23 мая 2017.

        hr.personal__hr
        .stock__item
            .stock__item-title Приведи друга и получи 100 бо-нусных Флай-рублей
            .stock__item-img: +img('content/stock-2')
            .stock__item-text
                p Пригласить можно отправив своему другу ссылку для регистрации или код. Код можно получить у себя в личном кабинете, раздел «
                    a(href='#') Бонусы
                    |»
                p.color-grey Действует до 23 мая 2017.

        hr.personal__hr
        .stock__item
            .stock__item-title Пробуем новый набор «Green Villa Pizza»
            .stock__item-img: +img('content/stock')
            .stock__item-text
                p Пикантная пицца на тонком тесте, с бараньим фаршем, кусочками тыквы, болгарским перцем, луком, моцареллой и томатным соусом.
                p Цена набора всего 333 рубля.
                p.color-grey Действует до 23 мая 2017.

