extends personal-main

block personal_content
    .stock.stock_personal
        .stock__item
            .stock__item-title Пробуем новый набор «Green Villa Pizza»
            .stock__item-img: +img('content/stock')
            .stock__item-text
                p Пикантная пицца на тонком тесте, с бараньим фаршем, кусочками тыквы, болгарским перцем, луком, моцареллой и томатным соусом.

                p Цена набора всего 333 рубля.

                p Действует до 23 мая 2017.