// Common styles of the project

html, body {
  height: 100%;
  color: #4b4b4b;
  font-family: Gerbera, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 27px;
  >*{

  }
}

.page {
  @include tr;
  &_show{
    transform: translateX(380px);
    transform: translate3d(380px,0,0);
    backface-visibility: hidden;
  }
  &__content{
    height: 100vh;
    overflow: auto;
    padding-top: 70px;
    &_hidden{
      //overflow: hidden;
      //height: 100vh;
      //height: 0;
      //display: none;
      //pointer-events: none;
      //visibility: hidden;
    }
  }
}


.page__wrapper {
  min-height: 100%;
  padding-bottom: 53px;
}
* html .page__wrapper {
    height: 100%;
}

.page__buffer {
    //height: 50px;
}
body {
  //height: 400vh;
  //padding-top: 90px;
}

.container_small{
  width: 1140px;
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.page__nav{
  width: 380px;
  background-color: #5f5f5f;
  position: absolute;
  top: 0;
  left: -380px;
  height: 100%;
  &-list{
    @include nl;
    li{
      display: block;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      a{
        display: block;
        font-size: 24px;
        font-weight: 300;
        color: #fff;
        padding: 26.5px 34px;
        @include tr;
        &:hover, &:focus{
          text-decoration: none;
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }
  }
}

.inner-banner{
  height: 545px;
  background-color: #eee;
  display: table;
  width: 100%;
  border-radius: $border-radius;
  background-size: cover;
  background-position: center;
  &__content{
    display: table-cell;
    vertical-align: middle;
  }
  &__title{
    color: white;
    font-size: 84px;
    font-weight: 900;
    line-height: 79px;
    margin: 0;
  }
}

.img-berrywood{
  img{
    max-width: 100%;
    width: 235px;
    display: inline-block;
  }
}

.inner-banner-list{
  background-color: $green;
  border-radius: $border-radius;
  padding: 35px 45px;
  overflow: hidden;
  &__title{
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    margin-bottom: 30px;
  }
  &__list{
    @include nl;
    font-size: 0;
    margin: -20px -70px;
    &-item{
      display: inline-block;
      color: white;
      font-size: 23px;
      font-weight: 300;
      line-height: 28px;
      fill: #fff;
      width: 33.33%;
      vertical-align: top;
      padding: 20px  70px;
      &-img{
        margin-bottom: 30px;
        max-width: 100%;
      }
      &-text{
      }
    }
  }
}

.advantages-block{
  margin: 0 auto;
  width: 560px;
  max-width: 100%;
}

.list-advantages{
  display: table;
  color: black;
  >*{
    display: table-cell;
    vertical-align: top;
    +*{
      padding-left: 43px;
    }
  }
  &__icon{
    padding-top: 4px;
  }
  &__title{
    font-size: 25px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
  }
  &__list{
    color: black;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    position: relative;
    margin-bottom: 25px;
    &:last-child{
      margin-bottom: 0;
    }
    &:after{
      content: '•';
      display: inline-block;
      position: absolute;
      top: 0;
      right: 100%;
      font-size: 12px;
      font-weight: 400;
      line-height: 24px;
      margin-right: 11px;
    }
    &_notAfter{
      &:after{
        display: none;
      }
    }
  }
}


.contacts{
  color: black;
  font-size: 17px;
  font-weight: 300;
  width: 399px;
  max-width: 100%;
  margin: 0 auto;
  hr{
    border-color: #c3c3c3;
  }
  &__hr{
    margin-top: 35px;
    margin-bottom: 35px;
  }
  &__text{
  }
  p:not(.title-default){
    margin-bottom: 25px;
  }
  &__user{
    display: table;
    p:not(.title-default){
      margin-bottom: 15px;
    }
    >*{
      display: table-cell;
      vertical-align: top;
      +*{
        padding-left: 39px;
      }
    }
  }
}


.block-green{
  background-color: $green;
  color: #fff;
  padding: 30px 0;
}

.category{
  &-list{
    @include nl;
    fill: currentColor;
    font-size: 0;
    text-align: center;
    padding: -15px -27px;
    >*{
      display: inline-block;
      vertical-align: middle;
      font-size: 14px;
    }
  }
  &-item{
    padding: 15px 27px;
    color: currentColor;
    display: block;
    font-size: 17px;
    font-weight: 300;
    &.active{
      font-weight: bold;
    }
    &.active, &:hover, &:focus{
      text-decoration: none;
      //fill: $green;
      //font-weight: bold;
      .category-item-icon{
        fill: $green;
        &-content{
          &:after{
            width: 81px;
            height: 81px;
            opacity: 1;
          }
        }
      }
    }
    &-icon{
      display: inline-block;
      vertical-align: middle;
      height: 63px;
      margin-bottom: 5px;
      &-content{
        position: relative;
        display: block;
        &:after{
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          width: 0;
          height: 0;
          background-color: #fff;
          border-radius: 50%;
          @include tr;
          opacity: 0;
        }
        svg{
          position: relative;
          z-index: 1;
        }
      }
    }
    &-title{
      display: block;
    }
  }
}

.step{
  position: relative;
  text-align: center;
  overflow: hidden;
  display: block;
  &__table{
    border-radius: 26px;
    display: table;
    width: 100%;
    background-color: #d2d2d2;
    &-cell{
      display: table-cell;
      vertical-align: middle;
    }
  }
  &__item{
    display: block;
    color: white;
    font-size: 23px;
    font-weight: 900;
    line-height: normal;
    padding: 12px 30px;
    position: relative;
    z-index: 1;
    text-decoration: none !important;
  }
  &__after{
    position: absolute;
    height: 100%;
    left: 0;
    //width: 340px;
    width: 0;
    background-color: #04d958;
    border-radius: 27px;
    @include tr;
  }
}

.basket-result{
  background-color: white;
  border: 3px solid #04d958;
  border-radius: 30px;
  padding: 45px 58px;
  &__title{
    color: #0a0a0a;
    font-size: 23px;
    font-weight: 900;
    line-height: 45px;
    b{
      font-weight: 700;
    }
  }
  &__priceAll{
    float: right;
  }
  &-sections{
    //display: table;
    font-size: 0;
    margin: -5px -29px;
  }
  &-section{
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    padding: 5px 29px;
  }
  &__list{
    &-title{
      color: #0a0a0a;
      font-size: 17px;
      font-weight: 300;
      margin: 0;
      margin-bottom: 35px;
    }
    &-desc{
      font-size: 0;
      margin: -2px -5px;
      >*{
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
        padding: 2px 5px;
      }
      &-icon{
        svg{
          display: block;
        }
      }
    }
  }
}

.modal{
  &__item{
    &-img{
      display: block;
      width: 100%;
      height: 329px;
      background-size: cover;
      background-position: center;
      border-radius: 30px;
      position: relative;
      &-icon{
        position: absolute;
        bottom: 0;
        right: 0;
        fill: #fff;
        padding: 18px;
        svg{
          display: block;
          width: 18px;
          height: 18px;
        }
      }
    }
    &-titles{
      margin-bottom: 12px;
    }
    &-title{
      color: black;
      font-size: 23px;
      font-weight: 500;
      margin: 0;
    }
    &-titleSub{
      color: $green;
      font-size: 13px;
      font-weight: 300;
      margin: 0;
      line-height: 13px;
    }
    &-price{
      color: black;
      font-size: 23px;
      font-weight: 500;
      display: inline-block;
      vertical-align: middle;
    }
    &-text{
      color: #b3b3b3;
      font-size: 17px;
      font-weight: 300;
      line-height: 23px;
    }
  }
}

.mess-live-desc{
  display: table;
  font-size: 13px;
  font-weight: 300;
  line-height: 17px;
  color: #b3b3b3;
  padding: 0 12px;
  b{
    font-size: 15px;
    font-weight: 500;
  }
  &__cell{
    display: table-cell;
    vertical-align: top;
    +*{
      padding-left: 18px;
    }
  }
  &__icon{
    fill: $green;
  }
}

.inline-block{
  display: inline-block;
  vertical-align: middle;
}

.basket-resultPrice{
  font-weight: 900;
  font-size: 0;
  margin: -5px -10px;
  >*{
    display: inline-block;
    font-size: 35px;
    padding: 5px 10px;
  }
  &__prev{
    color: #acacac;
    text-decoration: line-through;
  }
}

.basket__label {
  color: #26daf5;
  font-size: 23px;
  font-weight: 500;
  background-color: white;
  border: 1px solid #26daf5;
  border-radius: 27px;
  text-align: center;
  padding: 13px 15px;
}


.personal{
  //width: 490px;
  display: table;
  margin: 0 auto;
  >*{
    display: table-cell;
    vertical-align: top;
    +*{
      padding-left: 24px;
    }
  }
  &:after{
    content: '';
    display: table;
    clear: both;
  }
  &__left{
    border-right: 1px solid #e5e5e5;
    //float: left;
  }
  &__right{
    //padding-left: 204px;
  }
  &__list{
    @include nl;
    display: block;
    li{
      display: block;
      margin-right: -1px;
      +li{
        border-top: 1px solid #e5e5e5;
      }
      &.active{
        background-color: #fff;
        a{
          font-weight: bold;
        }
      }
      a{
        display: block;
        color: black;
        font-size: 15px;
        font-weight: 300;
        line-height: normal;
        padding: 17px 3px;
        padding-right: 20px;
      }
    }
  }
  &__ava{
    display: table;
    >*{
      display: table-cell;
      vertical-align: middle;
      +*{
        padding-left: 40px;
      }
    }
    &-img{
      width: 56px;
      height: 56px;
      border-radius: 50%;
    }
    &-name{
      color: black;
      font-size: 17px;
      font-weight: 700;
    }
  }

  &__contacts{
    display: table;
    width: 100%;
    &-item{
      display: table-row;
      >*{
        display: table-cell;
        vertical-align: middle;
        padding: 13px 0;
        +*{
          padding-left: 30px;
        }
      }
      &_after{
        >*{
          border-bottom: 1px solid #ddd;
          padding-bottom: 30px;
        }
        +*{
          >*{
            padding-top: 30px;
          }
        }
      }
      &-title{
        color: #acacac;
        font-size: 13px;
        font-weight: 300;
        line-height: 11px;
        display: block;
      }
      &-value{
        height: 15px;
        color: #181818;
        font-size: 15px;
        font-weight: 300;
        line-height: normal;
        overflow: hidden;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
  &__bonuses{
    max-width: 100%;
    color: black;
    font-weight: 300;
    .personal__contacts-item{
      >*{
        font-size: 17px;
      }
    }
  }
}

.dank-card{
  background-color: #04d959;
  border-radius: 30px;
  display: table;
  width: 100%;
  position: relative;
  height: 180px;
  &_not{
    background-color: #e5e5e5;
    border: 1px solid #b3b3b3;
  }
  &__content{
    display: table-cell;
    vertical-align: middle;
  }
  &__logo{
    display: block;
    img{
      width: 190px;
    }
  }
  &__number{
    position: absolute;
    right: 23px;
    bottom: 13px;
    width: 157px;
  }
}

.stock{
  &__item{
    &-title{
      color: black;
      font-size: 23px;
      font-weight: 500;
      line-height: normal;
      margin: 0;
      margin-bottom: 20px;
    }
    &-img{
      margin-bottom: 25px;
      img{
        border-radius: $border-radius;
        width: 100%;
      }
    }
    &-text{
      font-size: 17px;
      font-weight: 300;
      line-height: 21px;
      p{
        margin-bottom: 22px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
}

.balance{
  background-color: white;
  border: 1px solid #04d959;
  border-radius: 30px;
  padding: 25px;
  display: table;
  width: 100%;
  >*{
    display: table-cell;
    vertical-align: top;
    +*{
      padding-left: 38px;
    }
  }
  &__title{
    color: black;
    font-size: 17px;
    font-weight: 700;
    display: block;
    margin: 0;
    margin-bottom: 25px;
  }
  &__price{
    color: #04d959;
    font-size: 41px;
    font-weight: 700;
    display: block;
  }
}


.live-meals{
  display: table;
  width: 100%;
  position: relative;
  &__item{
    color: #181818;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    display: table-row;
    fill: currentColor;
    &-after{
      content: '';
      display: block !important;
      position: absolute;
      left: 0;
      width: 30%;
      height: 2px;
      background-color: #d5d5d5;
    }
    >*{
      display: table-cell;
      vertical-align: middle;
      padding: 14px 6px;
    }
    svg{
      display: block;
      margin: 0 auto;
    }
    &_green{
      color: $green;
      .live-meals__item-icon{
        color: $green;
      }
      +.live-meals__item-after{
        background-color: $green;
      }
    }
    &-icon{
      color: #d5d5d5;
    }
    &-like{
    }
    &-title{
    }
    &-label{

    }
  }
}

.catalog-category-fix{
  //position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 8;
  &.active{
    padding: 14px 0;
    position: fixed;
    margin-top: 68px;
    opacity: 1;
    @include tr;


    .category-list{
      li{
        padding: 0;
        +li{
          border-left: 1px solid #57e690;
        }
        a{
          padding-top: 3px;
          padding-bottom: 3px;
          &:hover{
            background-color: #57e690;
          }
        }
      }
    }
    .category-item{
      &-icon{
        display: none;
      }
    }
  }
}
.page__content{
  //padding-top: 255px;
}