/* Your custom fonts here */
@import "libraries/bourbon/bourbon";

// Example
//https://edgewebfonts.adobe.com/help#using-fonts-in-css
// 100 -> Thin, Hairline
// 200 -> Extra Light
// 300 -> Light
// 400 -> Normal, Book
// 500 -> Medium
// 600 -> Semibold, Demibold
// 700 -> Bold
// 800 -> Heavy, Extra Bold
// 900 -> Black

@include font-face("GothamPro", "../fonts/GothaProBol/Gerbera Bold", $file-formats: eot woff ttf svg){
  font-style: normal;
  font-weight: bold;
};
@include font-face("GothamPro", "../fonts/GothaProBol/Gerbera Black", $file-formats: eot woff ttf svg){
  font-style: normal;
  font-weight: 700;
};
@include font-face("GothamPro", "../fonts/GothaProBol/Gerbera Light", $file-formats: eot woff ttf svg){
  font-style: normal;
  font-weight: 300;
};
@include font-face("GothamPro", "../fonts/GothaProBol/Gerbera Medium", $file-formats: eot woff ttf svg){
  font-style: normal;
  font-weight: 500;
};

@include font-face("GothamPro", "../fonts/GothaProBol/Gerbera", $file-formats: eot woff ttf svg){
  font-style: normal;
  font-weight: 400;
};



