// GUI stylies of the project
// For example, styles of the links, buttons and so on.

@import "libraries/bootstrap/scaffolding";
@import "libraries/bootstrap/buttons";
@import "libraries/bootstrap/type";
@import "libraries/bootstrap/breadcrumbs";
@import "libraries/bootstrap/tables";
@import "libraries/bootstrap/forms";
@import "libraries/bootstrap/navs";
@import "libraries/bootstrap/dropdowns";
@import "libraries/bootstrap/popovers";

.db{
  display: block;
}

.mobile-list-anim{
  display: inline-block;
  color: #000000;
  //float: left;
  z-index: 5;
  width: 100%;
  position: relative;
  input[type="checkbox"]{
    display: none;
    &:checked {
      & ~ .menuTopMobel {
        .menu-mobile {
          &-hamburger {
            &.one {
              -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
              transform: translate3d(0, 0, 0) rotate(45deg);
            }
            &.two {
              -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
              transform: translate3d(0, 0, 0) scale(0.1, 1);
            }
            &.three {
              -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
              transform: translate3d(0, 0, 0) rotate(-45deg);
            }
          }
        }
      }
    }
  }
  .menuTopMobel{
    color: currentColor;
    display: block;
    text-align: left;
    border-bottom: none;
    border-top: none;
    outline: none;
    margin-bottom: 0;
    white-space: nowrap;
    cursor: pointer;
    .menu-icon{
      fill: currentColor;
      display: inline-block;
      vertical-align: middle;
      svg{
        display: block;
      }
    }
    .menu-mobile{
      pointer-events: none;
      background: transparent;
      display: inline-block;
      vertical-align: middle;
      width: 24px;
      height: 22px;
      color: currentColor;
      text-align: center;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      transition: transform ease-out 200ms;
      &-hamburger{
        width: 22px;
        height: 4px;
        background: currentColor;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -11px;
        margin-top: -2px;
        transition: transform 200ms;
        border-radius: 20px;
        &.one{
          -webkit-transform: translate3d(0, -9px, 0);
          transform: translate3d(0, -9px, 0);
        }
        &.two{
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
        &.three{
          -webkit-transform: translate3d(0, 9px, 0);
          transform: translate3d(0, 9px, 0);
        }
      }
    }
    .menu-text{
      //margin-top: -4px;
      //margin-right: 20px;
      margin-top: 4px;
      margin-left: 28px;
      display: inline-block;
      vertical-align: middle;
      pointer-events: none;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 18px;
      font-weight: 700;
      line-height: normal;
    }
  }
}

h1{
  color: black;
  font-size: 35px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 34px;
}

.sections-border{
  display: inline-block;
  font-size: 0;
  &-section{
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    padding: 0 15px;
    +*{
      border-left: 1px solid #d2d2d2;
    }
  }
}

.list-link{
  display: inline-block;
  font-size: 0;
  margin: -2px -7px;
  &__section{
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    padding: 2px 7px;
  }
}

.count{
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
  >*{
    display: inline-block;
    vertical-align: middle;
  }
  &__btn{
    @include btn-clear;
    width: 16px;
    height: 16px;
    background-color: #04d958;
    border-radius: 50%;
    color: white;
    font-size: 14px;
    font-weight: 900;
    line-height: 16px;
    &_minus{}
    &_plus{}
    &:hover{
      background-color: #04be4d;
    }
  }
  &__input{
    @include btn-clear;
    width: 23px;
    text-align: center;
    color: #0a0a0a;
    font-size: 12px;
    font-weight: 300;
    line-height: normal;
    padding: 0 5px;
  }
  &_big{
    .count__btn{
      width: 20px;
      height: 20px;
      font-size: 18px;
    }
    .count__input{
      font-size: 16px;
      width: 29px;
    }
  }
}

.network{
  @include nl;
  font-size: 0;
  margin: -5.5px;
  li{
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    padding: 5.5px;
    a{
      display: block;
      width: 40px;
      height: 40px;
      background-color: white;
      border: 1px solid #d0d0d0;
      border-radius: 50%;
      text-align: center;
      line-height: 37px;
      @include tr;
      svg{
        display: inline-block;
        vertical-align: middle;
      }
      &:hover{
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
      }
    }
  }
  &_notBorder{
    li{
      a{
        border-color: transparent;

      }
    }
  }
  &_colors{
    margin: -18px;
    li{
      padding: 18px;
      a{
        width: auto;
        height: auto;
        border: none;
        &:hover{
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}

.block-center{
  margin-left: auto;
  margin-right: auto;
}
.mw{
  max-width: 100%;
}

.text-big{
  font-size: 23px;
  line-height: 28px;
  color: black;
  margin-bottom: 42px;
}

.logos-list{
  width: 364px;
  height: 174px;
  max-width: 100%;
  margin: 0 auto;
}

hr{
  border-color: #e5e5e5;
  margin: 50px 0;
}

b{
  font-weight: 500;
}

.container-min{
  width: 761px;
  max-width: 100%;
  padding: 0 20px;
}

.num-big{
  color: #d9d9d9;
  font-size: 62px;
  font-weight: 700;
  line-height: 76px;
  display: block;
  margin-top: -7px;
}

.maps-block{
  height: 595px;
  border-radius: $border-radius;
  background-color: #eee;
}

.title-default{
  color: black;
  font-size: 23px;
  font-weight: 900;
  margin-bottom: 35px;
  &_small{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  &_marginMin{
    margin-bottom: 20px;
    &_small{
      margin-bottom: 0px;
    }
  }
}

.color-green{
  color: $green;
}

.bootstrap-select.btn-group:not(.dropup) .dropdown-menu{
    margin-top: -9px;
}
.bootstrap-select.btn-group{
  position: relative;
  .dropdown-menu {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top: none;
  }
  .dropdown-toggle{
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: $border-radius;
    padding: 0 20px;
    font-style: normal;
    font-family: Gerbera, sans-serif;
    height: 53px;
    .filter-option{
      color: #acacac;
      display: block;
      font-size: 17px;
      font-weight: 300;
      line-height: 53px;
    }
    .bs-caret{
      line-height: 22px;
      background-color: transparent;
      right: 13px;
      @include tr;
      .caret{
        border-top-color: #d6d6d6;
        border-top-width: 6px;
      }
    }
  }
  &.open{
    .dropdown-toggle{
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-color: $green;
      .bs-caret {
        transform: rotate(180deg);
        .caret {
          border-top-color: $green;
        }
      }
    }
  }
}

.style-checkbox{
  margin: 0 -4.5px;
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
  +.style-checkbox{
    margin-top: 10px;
  }
  >*{
    display: inline-block;
    vertical-align: top;
    margin: 0 4.5px;
    white-space: normal;
  }
  &__input{
    display: none;
    &:checked{
      &~.style-checkbox__el{
        &:after{
          transform: scale(1);
        }
      }
    }
  }
  &__el{
    width: 12px;
    height: 12px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    //margin-top: -3px;
    overflow: hidden;
    position: relative;
    margin-top: 2px;
    &:after{
      content: '';
      display: block;
      @include bg($style-checkbox_checked);
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -3.5px;
      margin-left: -4px;
      @include tr;
      transform: scale(0);
    }
  }
  &__title{
    color: black;
    font-size: 13px;
    font-weight: 300;
    line-height: 21px;
    margin-top: -1px;
    &_big{
      font-size: 17px;
      margin-top: 0;
    }
  }
}

.toggle-style{
  font-size: 0;
  margin: 0 -10px;
  >*{
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
  }
  label{
    color: #acacac;
    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
    margin: 0;
    display: block;
  }
  &__input{
    display: none;
    &_left{
      &:checked{
        &~ span .toggle-style__left{
          color: black;
        }
      }
    }
    &_right{
      &:checked{
        &~ span .toggle-style__right{
          color: black;
        }
        &~ span .toggle-style__el{
          &:after{
            left: 15px;
          }
        }
      }
    }
  }
  &__el{
    width: 33px;
    height: 19px;
    background-color: $green;
    border-radius: 20px;
    position: relative;
    display: block;
    margin-top: -2px;
    &:after{
      content: '';
      background-color: #fff;
      border-radius: 50%;
      width: 17px;
      height: 17px;
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -8.5px;
      left: 1px;
      @include tr;
    }
  }
}

.promo-code{
  font-size: 0;
  margin: -5px -10px;
  >*{
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    padding: 5px 10px;
  }
  &__input{
    width: 101px;
  }
  &__btn{

  }
}

.IScroll{
  position: relative;
  color: $green;
  .iScrollLoneScrollbar{
    width: 8px !important;
    opacity: 1 !important;
    //background-color: rgba(0, 49, 51, 0.4);
    background-color: #eee;
    border-radius: 4px;
    .iScrollIndicator{
      width: 8px !important;
      background-color: currentColor !important;
      border-radius: 25px !important;
      border: 2px solid #eee !important;
      cursor: row-resize;
    }
  }
}

.prev-link{
  display: inline-block;
  font-size: 0;
  margin: -5px -10px;
  >*{
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
  }
  &:hover{
    .prev-link__title{
      text-decoration: underline;
    }
  }
  &__icon{
    width: 32px;
    height: 32px;
    background-color: $green;
    fill: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 43px;
    svg{
      width: 11px;
      height: 19px;
    }
  }
  &__title{
    color: black;
    font-size: 21px;
    font-weight: 300;
    line-height: normal;
  }
}
