mixin itemBlock(discount)
    a(href="#").item.item-block
        span.item-img: +img('content/item/1')
        span.item-desc
            span.item-title: span Экскаватор TX 210 LC
            span.item-text
                | Автогрейдер ГС-14.02 предназначен для выполнения больших объемов землеройных и профилировочных работ, при строительстве и содержании дорог. ГС-14.02 комплектуется мощным двигателем 110 кВт и механической трансмиссией.
                | 13,5 т, колёсная формула 1х2х3, двигатель ЯМЗ, 150 л.с., кабина ROPS-FOPS, ПЖД.


mixin itemCol(discount)
    a(href="#").item.item-col
        span.item-img: +img('content/item/1')
        span.item-title: span Экскаватор TX 210 LC
        span.item-text
            | - Экскаваторный ковш 0,18 м3
            br
            | - Погрузочный ковш 1 м3
            br
            | - Экскаваторное оборудование
            br
            |с телескопической рукоятью



mixin item(num, fn)
    - var itemClass = ''
    - if(num == 0)
        - itemClass = 'item-list__section_big'

    .item-list__section(class!=itemClass)
        -if(num == 0)
            a(href="#").item
                span.db.item__img(style="background-image: url('https://im3-tub-ru.yandex.net/i?id=8a99d896a5fdeeaf9b3ebd3c99172bc1&n=33&h=215&w=382');")
                span.db.item__title Набор «Green Villa Pizza»
                span.item__col
                    span
                        span.db.item__price
                            span.item__price_descount 370.–
                            |&nbsp;250.–
                    span
                        - if(fn != 'offText')
                            span.hidden-md-down &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            button.btn.btn-green.btn-xs Заказать
                        - else


                - if(fn != 'offText')
                    span.db.item__text Мясная, Маргарита и Вегетарианская.
        -else
            -if(num%2==0)
                a(href="#").item
                    span.db.item__img(style="background-image: url('https://im3-tub-ru.yandex.net/i?id=8a99d896a5fdeeaf9b3ebd3c99172bc1&n=33&h=215&w=382');")
                    span.db.item__title Пицца Мясная
                    span.item__col
                        span
                            span.db.item__price 250.–
                        span
                            button.btn.btn-blue.btn-xs Заказать
                    - if(fn != 'offText')
                        span.db.item__text Пикантная пицца на тонком тесте, с бараньим фаршем, кусочками тыквы, болгарским перцем, луком, моцареллой  и томатным соусом.
            - else
                a(href="#").item
                    span.db.item__img(style="background-image: url('https://im3-tub-ru.yandex.net/i?id=8a99d896a5fdeeaf9b3ebd3c99172bc1&n=33&h=215&w=382');")
                    span.db.item__title Пицца Мясная
                    span.item__col
                        span
                            span.db.item__price 250.–
                        span
                            button.btn.btn-green.btn-xs Заказать

                    - if(fn != 'offText')
                        span.db
                            span.item__title-inner Тесто:
                            span.item__listBtn
                                span
                                    button.btn.btn-green.btn-xs Тонкое
                                span
                                    button.btn.btn-green.btn-xs Пышное

                        span.db.item__text Пикантная пицца на тонком тесте, с бараньим фаршем, кусочками тыквы, болгарским перцем, луком, моцареллой  и томатным соусом.

