.item{
  display: block;
  border: 1px solid #dadada !important;
  background-color: #fff;
  border-radius: 4px;
  //box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
  color: #6e6f78;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  overflow: hidden;
  &-col{
    padding: 30px 26px;
    min-height: 389px;
    .item-img{
      height: 190px;
      line-height: 190px;
      margin-bottom: 10px;
    }
    >span{
      display: block;
    }
  }
  &-block{
    //padding: 0 25px;
    padding: 25px 15px;
    display: table;
    +.item{
      margin-top: 9px;
    }
    .item-img{
      width: 150px;
      padding: 0 !important;
    }
    >span{
      display: table-cell;
      vertical-align: middle;
      padding: 0 15px;
      >span{
        display: block;
      }
    }
  }
  &:hover{
    border: 2px solid #dadada;
    box-shadow: 0 8px 9px rgba(0, 0, 0, 0.1);
    .item-title{
      span{
        border-bottom-color: transparent;
      }
    }
  }
  &-img{
    //text-align: center;
    img{
      display: inline-block;
      max-height: 100%;
    }
  }
  &-title{
    color: #0180bb;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    //text-decoration: underline;
    margin-bottom: 14px;
    span{
      @include link-border-color(#0180bb);
      display: inline;
    }
  }
  &-text{
  }
}