.item{
  display: block;
  text-decoration: none !important;
  >*{
    +*{
      margin-top: 15px;
    }
  }
  &__img{
    width: 100%;
    background-color: #eee;
    height: 286px;
    border-radius: $border-radius;
    background-size: cover;
    background-position: center;
  }
  &__title{
    color: black;
    font-size: 23px;
    font-weight: 500;
    &-inner{
      color: #04d959;
      font-size: 17px;
      font-weight: 900;
    }
  }
  &__price{
    font-size: 23px;
    font-weight: 500;
    color: black;
    &_descount{
      color: #a6a6a6;
      text-decoration: line-through;
    }
  }
  &__text{
    color: #b3b3b3;
    font-size: 17px;
    font-weight: 300;
    line-height: 21px;
  }
  &__col{
    display: block;
    margin-left:-7.5px;
    margin-right: -7.5px;
    >*{
      display: inline-block;
      vertical-align: middle;
      padding: 2px 7.5px;
    }
  }
  &__listBtn{
    font-size: 0;
    margin: -4px;
    display: block;
    >*{
      display: block;
      vertical-align: middle;
      padding: 4px;
    }
  }
}

.item-list{
  font-size: 0;
  margin: -30px -20px;
  &__section{
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    padding: 30px 20px;
    width: 25%;
    &_big{
      width: 50%;
    }
  }
}