.header{
  padding: 18px 0;
  &__right{
    text-align: right;
  }
  &__logo{
    width: 187px;
    display: block;
  }
  &__sections{
    font-size: 0;
    margin: 0 -11.5px;
    &-section{
      display: inline-block;
      vertical-align: middle;
      font-size: 14px;
      padding: 0 11.5px;
    }
  }
  &__nav{
    padding-top: 5px;
    ul{
      @include nl;
      font-size: 0;
      li{
        display: inline-block;
        vertical-align: middle;
        font-size: 15px;
        font-weight: 900;
        line-height: normal;
        border-left: 1px solid #d2d2d2;
        a{
          display: block;
          color: #181818;
          padding: 4px 15px;
        }
      }
    }
  }
  &__phone{
    color: black;
    font-size: 26px;
    font-weight: 900;
    line-height: normal;
    margin-bottom: -6px;
    display: block;
    i{
      margin-top: -4px;
    }
    &:hover, &:focus{
      text-decoration: none;
      color: $green;
    }
  }
  &__link{
    color: black;
    font-size: 15px;
    font-weight: 900;
  }
  &__btn{
    background-color: white;
    border: 1px solid black;
    color: black;
    font-size: 15px;
    font-weight: 900;
    border-radius: 25px;
    display: inline-block;
    line-height: normal;
    padding: 2px 15px;
    &:hover, &:focus{
      background-color: #000;
      color: #fff;
      text-decoration: none;
    }
  }
  &__basket{
    &:hover{
      .header__basket-list{
        opacity: 1;
        visibility: visible;
        margin-top: 0;
      }
    }
    &-link{
      display: block;
      &:hover, &:focus{
        text-decoration: none;
        .header__basket-icon-num{
          transform: scale(1.2);
        }
      }
      &-icon{
        display: inline-block;
        position: relative;
        color: #fff;
        text-align: center;
        &-num{
          position: absolute;
          top: -5px;
          right: -8px;
          width: 20px;
          height: 20px;
          background-color: $green;
          display: block;
          border-radius: 50%;
          font-size: 11px;
          font-weight: 500;
          line-height: 23px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding: 0 3px;
          @include tr;
        }
      }
      &-title{
        color: $green;
        font-size: 13px;
        font-weight: 900;
        line-height: normal;
        padding-left: 16px;
      }
    }
    &-list{
      position: absolute;
      top: 34px;
      right: 0;
      border-radius: $border-radius;
      background-color: white;
      box-shadow: 0 5px 40px rgba(0, 0, 0, 0.2);
      padding: 24px 24px;
      width: 341px;
      @include tr;
      margin-top: 20px;
      visibility: hidden;
      opacity: 0;
      z-index: 2;
      &-title{
        color: black;
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 20px;
      }
      &:after{
        content: '';
        position: absolute;
        bottom: 100%;
        right: 133px;
        @include triangle('down-right', #fff, 13px, 12px);
      }
    }
    &-itemList{
      //overflow: auto;
      //max-height: 630px;
    }
    &-item{
      display: table;
      width: 100%;
      line-height: normal;
      +*{
        margin-top: 34px;
      }
      .count{
        margin-top: -4px;
      }
      &-img{
        border-radius: 15px;
        overflow: hidden;
        img{
          width: 100%;
        }
      }
      >*{
        display: table-cell;
        vertical-align: top;
        +*{
          padding-left: 32px;
        }
      }
      &-title{
        color: black;
        font-size: 17px;
        font-weight: 700;
      }
      &-price{
        font-size: 17px;
        font-weight: 700;
        color: $green;
      }
    }
    &-btn{
      @include btn-clear;
      width: 100%;
      height: 47px;
      background-color: #04d958;
      border-radius: 23px;
      color: white;
      font-size: 23px;
      font-weight: 900;
      line-height: normal;
      &:hover{
        background-color: #04ba50;
      }
    }
  }
  &__listProfile{
    &-notice{
      position: absolute;
      top: 32px;
      right: 5px;
      background-color: #26daf5;
      border-radius: 20px;
      line-height: 40px;
      padding: 0 30px;
      white-space: nowrap;
      color: white;
      font-size: 15px;
      font-weight: 400;
      &:after{
        content: '';
        position: absolute;
        bottom: 100%;
        right: 21px;
        @include triangle('down-right', #26daf5, 13px, 12px);
      }
    }
    &:hover{
      .header__listProfile-list{
        margin-top: 0;
        visibility: visible;
        opacity: 1;
      }
    }
    &-link{}
    &-list{
      width: 341px;
      @include nl;
      position: absolute;
      top: 30px;
      right: 3px;
      border-radius: $border-radius;
      background-color: white;
      box-shadow: 0 5px 40px rgba(0, 0, 0, 0.2);
      @include tr;
      margin-top: 20px;
      visibility: hidden;
      opacity: 0;
      z-index: 2;
      &:after{
        content: '';
        position: absolute;
        bottom: 100%;
        right: 21px;
        @include triangle('down-right', #26daf5, 13px, 12px);
      }
      li{
        display: block;
        +li{
          border-top: 1px solid #e5e5e5;
        }
        &.selection{
          background-color: #26daf5;
          border-radius: $border-radius $border-radius 0 0;
          >*{
            color: #fff;
          }
          +li{
            border: none;
          }
        }
        >*{
          display: block;
          color: black;
          font-size: 17px;
          font-weight: 300;
          padding: 12px 25px;
          b{
            font-weight: 500;
          }
        }
      }
    }
  }
}

.headerMobile{
  position: relative;
  &__logo{
    width: 202px;
    display: block;
    padding-left: 15px;
    margin-top: -3px;
  }
  &__sections{
    display: table;
    width: 100%;
    &Shell{
      margin: 0 -11px;
      margin-left: 0;
      padding-left: 13px;
      @include tr;
    }
    &-section{
      display: table-cell;
      vertical-align: middle;
      padding: 0 11px;
      text-align: center;
      position: relative;
      >*{
        pointer-events: none;
      }
      +*{
        border-left: 1px solid #d2d2d2;
      }
      &_borderNot{
        border-color: transparent !important;
      }
      &:after{
        content: '';
        position: absolute;
        @include triangle('up', #5f5f5f, 17px, 7px);
        top: 100%;
        left: 50%;
        margin-top: 8px;
        margin-left: -8px;
        opacity: 0;
        transition: .2s;
      }
      &.active{
        &:after{
          opacity: 1;
        }
      }
    }
  }
  &__nav{
    &-title{
      color: black;
      font-size: 15px;
      font-weight: 900;
      line-height: normal;
    }
  }
  &__navBlock{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100vh;
    padding: 25px 22px;
    padding-top: 75px;
    margin-top: -100%;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    z-index: 1;
    @include tr;
    &.active{
      margin-top: 0;
      opacity: 1;
      visibility: visible;
    }
    &-list{
      @include nl;
      li{
        display: block;
        a{
          display: block;
          color: black;
          font-size: 23px;
          font-weight: 500;
          line-height: normal;
          padding: 5px 0;
        }
      }
    }
  }
  &__sectionMain{
    display: table;
    width: 100%;
    position: relative;
    z-index: 2;
    border-bottom: 1px solid #d2d2d2;
    background-color: #fff;
    padding: 0 20px;
    padding-bottom: 14px;
    padding-top: 14px;
    >*{
      display: table-cell;
      vertical-align: middle;
      +*{
        //padding-left: 30px;
      }
    }
  }
  &__phoneBlock{
    background-color: #5f5f5f;
    position: absolute;
    top: 100%;
    width: 100%;
    text-align: center;
    padding-bottom: 28px;
    padding-top: 20px;
    &-num{
      color: white;
      font-size: 26px;
      font-weight: 900;
      line-height: normal;
      display: block;
      margin-bottom: 17px;
      &:hover, &:focus{
        text-decoration: none;
      }
      i{
        margin-top: -4px;
      }
    }
    &-btn{
      @include btn-clear;
      height: 53px;
      background-color: $green;
      border-radius: 26px;
      color: white;
      font-size: 17px;
      font-weight: 900;
      width: 224px;
      &:hover{
        background-color: #04b951;
      }
    }
  }
  &__profile{
    background-color: #5f5f5f;
    padding: 19px 21px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    &-list{
      @include nl;
      li{
        display: block;
        a{
          display: block;
          color: white;
          font-size: 23px;
          font-weight: 500;
          line-height: normal;
          padding: 5px 0;
        }
      }
    }
  }
  &__menuBlock{
    background-color: #5f5f5f;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 100px;
  }
  &__basketBlock{
    background-color: #5f5f5f;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 20px;
    padding-top: 90px;
    padding-bottom: 24px;
    overflow: auto;
    &-resultPrice{
      color: white;
      font-size: 21px;
      margin-bottom: 15px;
    }
    &-btn{
      @include btn-clear;
      color: white;
      font-size: 17px;
      font-weight: 900;
      width: 224px;
      height: 53px;
      background-color: $green;
      border-radius: 27px;
    }
    &-bottom{
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      margin: 0 -20px;
      margin-top: 36px;
      padding-top: 23px;
    }
    &-link{
      color: white;
      font-size: 15px;
      font-weight: 300;
      line-height: normal;
      display: block;
      &:hover, &:focus{
        text-decoration: none;
      }
      i{
        margin-top: -4px;
      }
    }
    &-title{
      color: white;
      font-size: 21px;
      font-weight: 500;
      line-height: normal;
      margin: 0;
      margin-bottom: 20px;
    }
    &-list{
      @include nl;
      margin: -16.5px;
      font-size: 0;
      li{
        font-size: 15px;
        display: inline-block;
        width: 50%;
        padding: 16.5px;
      }
    }
    &-item{
      display: table;
      width: 100%;
      color: #fff;
      >*{
        display: table-cell;
        vertical-align: top;
        +*{
          padding-left: 19px;
        }
      }
      .count__input{
        color: #fff;
      }
      &-clear{
        @include btn-clear;
        opacity: .35;
        position: absolute;
        right: 0;
        top: 0;
        &:hover{
          opacity: 1;
        }
      }
      &-img{
        width: 86px;
        overflow: hidden;
        border-radius: 15px;
        img{
          width: 100%;
        }
      }
      &-title{
        font-size: 17px;
        font-weight: 700;
        position: relative;
        padding-right: 23px;
      }
      &-price{
        font-size: 17px;
        font-weight: 700;
        color: $green;
      }
      &-titleSub{
        font-size: 11px;
        font-weight: 300;
        line-height: normal;
      }
    }
  }
}

.toggleNav{
  .headerMobile__logo{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    @include tr;
  }
  &.active{
    .headerMobile__sectionsShell{
      opacity: 0;
      visibility: hidden;
    }
    .headerMobile__logo{
      opacity: 1;
      visibility: visible;
    }
  }
}

.animEl{
  display: none;
}




