mixin header(data)
    - var style = 1

    -if(typeof(data) == 'object' && data.style)
        - style = data.style

    .headerMobile.not-styleLink.hidden-lg-up
        .headerMobile__sectionMain
            div
                .mobile-list-anim
                    input(type="checkbox", id="bottomToggleMenuMobile")
                    label.menuTopMobel(for="bottomToggleMenuMobile")
                        span.menu-mobile
                            span.menu-mobile-hamburger.one
                            span.menu-mobile-hamburger.two
                            span.menu-mobile-hamburger.three
            div.toggleNav
                a(href="/").headerMobile__logo: +img('assets/header/logo', 'svg')
                .headerMobile__sectionsShell
                    .headerMobile__sections
                        .headerMobile__sections-section(data-block="#rrrrrr")
                            .headerMobile__nav
                                .headerMobile__nav-title меню
                        .headerMobile__sections-section(data-block='#eeeeee')
                            .header__basket-link
                                span.header__basket-link-icon
                                    i.s-basket
                                    span.header__basket-link-icon-num 5
                                span.header__basket-link-title 1350.–

                        .headerMobile__sections-section(data-block="#ccccc")
                            .headerMobile__listProfile-link: i.s-user
                        .headerMobile__sections-section(data-block="#ffff")
                            .headerMobile__phone: i.s-phone


        .headerMobile__basketBlock.animEl#eeeeee
            a(href="#").headerMobile__basketBlock-link
                i.s-back
                |&nbsp;&nbsp;
                |Перейти к выбору блюд
            br
            p.headerMobile__basketBlock-title Корзина
            ul.headerMobile__basketBlock-list
                -for(var i = 0; i<3; i++)
                    li
                        .headerMobile__basketBlock-item
                            span.headerMobile__basketBlock-item-img: +img('content/header__basket-item/1')
                            span.headerMobile__basketBlock-item-desc
                                span.db.headerMobile__basketBlock-item-title Пицца Мясника
                                    button.headerMobile__basketBlock-item-clear: i.s-clear
                                span.db.headerMobile__basketBlock-item-price 270.–
                                span.db.headerMobile__basketBlock-item-titleSub Тонкое тесто
                                span.db.text-right
                                    span.count.count_big
                                        button.count__btn.count__btn_minus -
                                        input(value='1').count__input
                                        button.count__btn.count__btn_plus +
            .headerMobile__basketBlock-bottom.text-center
                .headerMobile__basketBlock-resultPrice Итого:&nbsp;
                    b 1350.–

                button.headerMobile__basketBlock-btn Оформить заказ







        //.headerMobile__menuBlock
            ul.headerMobile__menuBlock-list
                li
                    a(href="#").headerMobile__menuBlock-item
                        span.headerMobile__menuBlock-item-icon: i.s-
                        span.headerMobile__menuBlock-item-title Пицца



        .headerMobile__navBlock
            ul.headerMobile__navBlock-list
                li: a(href='#') Меню
                li: a(href='#') Оплата и доставка
                li: a(href='#') Бонусная программа
                li: a(href='#') О Berrywood Family
                li: a(href='#') Контакты
            br
            ul.network
                li: a(href="#"): i.s-facebook
                li: a(href="#"): i.s-instagram
                li: a(href="#"): i.s-vk


        .headerMobile__phoneBlock.animEl#ffff
            a(href='#').headerMobile__phoneBlock-num
                i.s-phone
                |&nbsp;
                | 250-70-20
            button.headerMobile__phoneBlock-btn Позвонить

        .headerMobile__profile.animEl#ccccc
            ul.headerMobile__profile-list
                li: a(href="#") Любимые блюда
                li: a(href="#") Мои акции
                li: a(href="#") Бонусы: 70 миль
                li: a(href="#") Активировать Flycard
                li: a(href="#") Личный кабинет
                li: a(href="#") Выйти


    .header.not-styleLink.hidden-md-down
        .container
            .row
                .col-md-7
                    .header__sections
                        .header__sections-section
                            .mobile-list-anim
                                input(type="checkbox", id="bottomToggleMenu")
                                label.menuTopMobel(for="bottomToggleMenu")
                                    span.menu-mobile
                                        span.menu-mobile-hamburger.one
                                        span.menu-mobile-hamburger.two
                                        span.menu-mobile-hamburger.three
                        .header__sections-section
                            a(href="/").header__logo: +img('assets/header/logo', 'svg')
                        .header__sections-section
                            .header__nav
                                ul
                                    li: a(href="#") меню
                                    li: a(href="#") доставка и оплата
                .col-md-5
                    .header__right
                        .sections-border
                            .sections-border-section
                                a(href="#").header__phone
                                    i.s-phone
                                    |&nbsp;250-70-20

                            -if(style == 2)
                                .sections-border-section
                                    a(href="#").header__basket
                                        span.header__basket-icon
                                            i.s-basket
                                .sections-border-section
                                    .list-link
                                        .list-link__section
                                            a(href="#").header__link регистрация
                                        .list-link__section
                                            a(href="#").header__btn войти
                            -else if(style == 1)
                                .sections-border-section
                                    .header__basket
                                        a(href="#").header__basket-link
                                            span.header__basket-link-icon
                                                i.s-basket
                                                span.header__basket-link-icon-num 5
                                            span.header__basket-link-title 1350.–
                                        .header__basket-list.text-left
                                            p.header__basket-list-title Корзина
                                            .header__basket-itemList
                                                .header__basket-item
                                                    a(href="#").header__basket-item-img: +img('content/header__basket-item/1')
                                                    span.header__basket-item-desc
                                                        a(href="#").db.header__basket-item-title Пицца Мясника
                                                        span.header__basket-item-price 270.–
                                                        |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        span.count
                                                            button.count__btn.count__btn_minus -
                                                            input(value='1').count__input
                                                            button.count__btn.count__btn_plus +
                                                .header__basket-item
                                                    a(href="#").header__basket-item-img: +img('content/header__basket-item/1')
                                                    span.header__basket-item-desc
                                                        a(href="#").db.header__basket-item-title Пицца Мясника
                                                        span.header__basket-item-price 270.–
                                                        |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        span.count
                                                            button.count__btn.count__btn_minus -
                                                            input(value='1').count__input
                                                            button.count__btn.count__btn_plus +
                                                .header__basket-item
                                                    a(href="#").header__basket-item-img: +img('content/header__basket-item/1')
                                                    span.header__basket-item-desc
                                                        a(href="#").db.header__basket-item-title Пицца Мясника
                                                        span.header__basket-item-price 270.–
                                                        |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        span.count
                                                            button.count__btn.count__btn_minus -
                                                            input(value='1').count__input
                                                            button.count__btn.count__btn_plus +
                                                .header__basket-item
                                                    a(href="#").header__basket-item-img: +img('content/header__basket-item/2')
                                                    span.header__basket-item-desc
                                                        a(href="#").db.header__basket-item-title Пицца Мясника
                                                        span.header__basket-item-price 270.–
                                                        |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        span.count
                                                            button.count__btn.count__btn_minus -
                                                            input(value='1').count__input
                                                            button.count__btn.count__btn_plus +
                                            br
                                            br
                                            button.header__basket-btn Оформить заказ

                                .sections-border-section
                                    .header__listProfile.text-left
                                        a(href="#").header__listProfile-link: i.s-user
                                        //span.header__listProfile-notice Привет, Алексей! Давно не виделись!
                                        ul.header__listProfile-list
                                            li.selection: span: b Жан Мишель Жар
                                            li: a(href="#") Личный кабинет
                                            li: a(href="#") Любимые блюда
                                            li: a(href="#") Мои акции
                                            li: a(href="#") Бонусный баланс: 70 миль
                                            li: a(href="#"): b Активировать FlyCard
                                            li: a(href="#") Выйти































