.header{
  &__top{
    background-image: url('%=static=%assets/header/bg_inner.jpg');
    color: #fff;
    fill: #fff;
    padding: 20px 0;
  }
  &__table{
    display: table;
    width: 100%;
    >*{
      display: table-cell;
      vertical-align: middle;
    }
  }
  &__iconText{
    display: table;
    &-cell{
      display: table-cell;
      vertical-align: middle;
      +*{
        padding-left: 29px;
      }
      svg{
        display: block;
      }
    }
  }
  &__email{
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5) !important;
    &:hover{
      border-color: rgba(255, 255, 255, 0.8) !important;
    }
    //@include link-border-color(#fff);
  }
  &__phone{
    color: inherit;
    font-family: GothamPro, sans-serif;
    font-size: 20px;
    line-height: 18px;
    display: block;
    margin-top: 7px;
  }
  &__bottom{
    background-size: cover;
    background-position: center;
    background-image: url('%=static=%assets/header/bg_bottom.jpg');
  }
  &__nav{
    @include nl;
    display: table;
    width: 100%;
    li{
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      &.active{
        background-color: #373737;
      }
      &:not(.active){
        a{
          &:hover{
            span{
              border-color: #ef9c00;
            }
          }
        }
      }
      a{
        color: white;
        font-size: 16px;
        font-weight: 400;
        display: block;
        span{
          display: inline-block;
          line-height: 60px;
          border-bottom: 2px solid transparent;
        }
      }
    }
  }
  &__search{
    height: 60px;
    display: block;
    padding-top: 23px;
    fill: #b4b4b4;
    svg{
      display: block;
    }
    &:hover{
      fill: #000000;
    }
  }

  &_index{
    background-image: url('%=static=%assets/header/header_index__bg.jpg');
    background-size: cover;
    background-position: center;
    padding-bottom: 70px;
    .header__top{
      background-image: none;
    }
    .header__bottom{
      margin: 0 auto;
      width: 1140px;
      >.container{
        width: 100%;
        min-width: 1px;
      }
    }
  }
  &__slider{
    padding: 40px 0;
    padding-top: 110px;
    color: white;
    position: relative;
    margin-bottom: 50px;
    &-section{
      outline: none;
    }
    .slick-arrow{
      @include btn-clear;
      position: absolute;
      top: 0;
      height: 100%;
      padding: 0 53px;
      fill: #fff;
      z-index: 1;
      &:hover{
        fill: #ef9c00;
      }
      svg{
        display: block;
      }
      &.slick-prev{
        left: 0;
      }
      &.slick-next{
        right: 0;
      }
    }
    &-title{
      font-family: GothamPro, sans-serif;
      font-weight: 700;
      line-height: 70px;
      font-size: 60px;
      margin: 0;
      margin-bottom: 45px;
      span{
        font-size: 55px;
        display: block;
      }
    }
    &-text{
      color: white;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      margin: 0;
      width: 595px;
      max-width: 100%;
      margin-bottom: 40px;
    }
    &-link{
      display: inline-block;
      width: 180px;
      line-height: 60px;
      border: 3px solid white !important;
      border-radius: 2px;
      text-align: center;
      color: white;
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
      position: relative;
      &:after{
        content: '';
        position: absolute;
        left: 100%;
        margin-left: 28px;
        top: 50%;
        margin-top: -7.5px;
        @include triangle('right', currentColor, 15px, 17px);
      }
      &:hover{
        background-color: rgba(255, 255, 255, 0.13);
      }
    }
  }
}









