mixin header(data)
    - var style = 1
    - var profile = false

    -if(typeof(data) == 'object' && data.style)
        - style = data.style
    -if(typeof(data) == 'object' && data.profile)
        - profile = data.profile

    .headerMobile.not-styleLink.hidden-lg-up
        .headerMobile__sectionMain
            div
                .mobile-list-anim
                    input(type="checkbox", id="bottomToggleMenuMobile")
                    label.menuTopMobel(for="bottomToggleMenuMobile")
                        span.menu-mobile
                            span.menu-mobile-hamburger.one
                            span.menu-mobile-hamburger.two
                            span.menu-mobile-hamburger.three
            div.toggleNav
                a(href="/").headerMobile__logo: +img('assets/header/logo', 'svg')
                .headerMobile__sectionsShell
                    .headerMobile__sections
                        a.headerMobile__sections-section(data-block="#menuBlock", href='#')
                            .headerMobile__nav
                                .headerMobile__nav-title меню
                        a.headerMobile__sections-section(data-block='#eeeeee', href='#')
                            .header__basket-link
                                span.header__basket-link-icon
                                    +icon('basket', 'svg-basket', 25, 21)
                                    span.header__basket-link-icon-num 5
                                span.header__basket-link-title.hidden-xs-down
                                    span.priceCountUp 1350
                                    |₽

                        a.headerMobile__sections-section(data-block="#ccccc", href='#')
                            - if(profile)
                                .header__listProfile-link
                                    .header__listProfile-link-ava: +img('content/personal', 'png')
                            - else
                                .headerMobile__listProfile-link: +icon('user', 'svg-user', 21, 22)
                        a.headerMobile__sections-section(data-block="#ffff", href='#')
                            .headerMobile__phone: +icon('phone', 'svg-phone', 10, 20)

            //- if(profile)
                span.header__listProfile-notice.text-center Привет, Алексей! Давно не виделись!


        .headerToggleBlock.animEl#eeeeee
            .headerToggleBlock-content
                br
                a(href="#").headerMobile__basketBlock-link
                    i.s-back
                    |&nbsp;&nbsp;
                    |Перейти к выбору блюд
                br
                p.headerMobile__basketBlock-title Корзина
                ul.headerMobile__basketBlock-list
                    -for(var i = 0; i<3; i++)
                        li
                            .headerMobile__basketBlock-item
                                span.headerMobile__basketBlock-item-img: +img('content/header__basket-item/1')
                                span.headerMobile__basketBlock-item-desc
                                    span.db.headerMobile__basketBlock-item-title Пицца Мясника
                                        button.headerMobile__basketBlock-item-clear: +icon('clear')
                                    span.db.headerMobile__basketBlock-item-price 270₽
                                    span.db.headerMobile__basketBlock-item-titleSub Тонкое тесто
                                    span.db.text-right
                                        span.count.count_big
                                            button.count__btn.count__btn_minus -
                                            input(value='1').count__input
                                            button.count__btn.count__btn_plus +
                .headerMobile__basketBlock-bottom.text-center
                    .headerMobile__basketBlock-resultPrice Итого:&nbsp;
                        b 1350₽

                    button.headerMobile__basketBlock-btn Оформить заказ


        .headerToggleBlock.animEl#menuBlock
            .headerToggleBlock-content
                br
                ul.headerMobile__menuBlock-list
                    li
                        a(href="#").headerMobile__menuBlock-item
                            span.headerMobile__menuBlock-item-icon: +icon('pizza')
                            span.headerMobile__menuBlock-item-title Пицца
                    li
                        a(href="#").headerMobile__menuBlock-item
                            span.headerMobile__menuBlock-item-icon: +icon('pasta')
                            span.headerMobile__menuBlock-item-title Паста
                    li
                        a(href="#").headerMobile__menuBlock-item
                            span.headerMobile__menuBlock-item-icon: +icon('plov')
                            span.headerMobile__menuBlock-item-title Плов
                    li
                        a(href="#").headerMobile__menuBlock-item
                            span.headerMobile__menuBlock-item-icon: +icon('wok')
                            span.headerMobile__menuBlock-item-title Вок
                    li
                        a(href="#").headerMobile__menuBlock-item
                            span.headerMobile__menuBlock-item-icon: +icon('sushi')
                            span.headerMobile__menuBlock-item-title Суши
                    li
                        a(href="#").headerMobile__menuBlock-item
                            span.headerMobile__menuBlock-item-icon: +icon('sup')
                            span.headerMobile__menuBlock-item-title Супы
                    li
                        a(href="#").headerMobile__menuBlock-item
                            span.headerMobile__menuBlock-item-icon: +icon('gril')
                            span.headerMobile__menuBlock-item-title Гриль
                    li
                        a(href="#").headerMobile__menuBlock-item
                            span.headerMobile__menuBlock-item-icon: +icon('salat')
                            span.headerMobile__menuBlock-item-title Салаты
                    li
                        a(href="#").headerMobile__menuBlock-item
                            span.headerMobile__menuBlock-item-icon: +icon('dessert')
                            span.headerMobile__menuBlock-item-title Десерты
                    li
                        a(href="#").headerMobile__menuBlock-item
                            span.headerMobile__menuBlock-item-icon: +icon('juice')
                            span.headerMobile__menuBlock-item-title Напитки


        .headerMobile__navBlock
            ul.headerMobile__navBlock-list
                li: a(href='#') Меню
                li: a(href='#') Оплата и доставка
                li: a(href='#') Бонусная программа
                li: a(href='#') О Berrywood Family
                li: a(href='#') Контакты
            br
            ul.network
                li: a(href="#"): +icon('facebook')
                li: a(href="#"): +icon('instagram')
                li: a(href="#"): +icon('vk')


        .headerToggleBlock.animEl#ffff
            .headerToggleBlock-content.text-center
                a(href='#').headerMobile__phoneBlock-num
                    i.s-phone
                    |&nbsp;
                    | 250-70-20
                button.headerMobile__phoneBlock-btn Позвонить

        .headerToggleBlock.animEl#ccccc
            .headerToggleBlock-content
                ul.headerMobile__profile-list
                    li: a(href="#") Любимые блюда
                    li: a(href="#") Мои акции
                    li: a(href="#") Бонусы: 70 миль
                    li: a(href="#") Активировать Flycard
                    li: a(href="#") Личный кабинет
                    li: a(href="#") Выйти


    .header.not-styleLink.hidden-md-down
        .container
            .row
                .col-md-7
                    .header__sections
                        .header__sections-section
                            .mobile-list-anim
                                input(type="checkbox", id="bottomToggleMenu")
                                label.menuTopMobel(for="bottomToggleMenu")
                                    span.menu-mobile
                                        span.menu-mobile-hamburger.one
                                        span.menu-mobile-hamburger.two
                                        span.menu-mobile-hamburger.three
                        .header__sections-section
                            a(href="/").header__logo: +img('assets/header/logo', 'svg')
                        .header__sections-section
                            .header__nav
                                ul
                                    li: a(href="#") меню
                                    li: a(href="#") доставка и оплата
                .col-md-5
                    .header__right
                        .sections-border
                            .sections-border-section
                                a(href="#").header__phone
                                    +icon('phone', 'svg-phone', 10, 20)
                                    |250-70-20

                            -if(style == 2)
                                .sections-border-section
                                    .header__basket
                                        a(href="#").header__basket-link
                                            span.header__basket-link-icon
                                                +icon('basket', 'svg-basket', 25, 21)
                                .sections-border-section
                                    .list-link
                                        .list-link__section
                                            a(href="#").header__link регистрация
                                        .list-link__section
                                            a(href="#").header__btn войти
                            -else if(style == 1)
                                .sections-border-section
                                    .header__basket
                                        a(href="#").header__basket-link
                                            span.header__basket-link-icon
                                                +icon('basket', 'svg-basket', 25, 21)
                                                span.header__basket-link-icon-num 5
                                            span.header__basket-link-title
                                                span.priceCountUp 0
                                                |₽
                                        .header__basket-list.text-left
                                            .header__basket-list-content.text-left
                                                p.header__basket-list-title Корзина
                                                .header__basket-itemList.IScroll: div
                                                    .header__basket-item
                                                        a(href="#").header__basket-item-img: +img('content/header__basket-item/1')
                                                        span.header__basket-item-desc
                                                            a(href="#").db.header__basket-item-title Пицца Мясника
                                                            span.header__basket-item-price 270₽
                                                            |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                            span.count
                                                                button.count__btn.count__btn_minus -
                                                                input(value='1').count__input
                                                                button.count__btn.count__btn_plus +
                                                    .header__basket-item
                                                        a(href="#").header__basket-item-img: +img('content/header__basket-item/1')
                                                        span.header__basket-item-desc
                                                            a(href="#").db.header__basket-item-title Пицца Мясника
                                                            span.header__basket-item-price 270₽
                                                            |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                            span.count
                                                                button.count__btn.count__btn_minus -
                                                                input(value='1').count__input
                                                                button.count__btn.count__btn_plus +
                                                    .header__basket-item
                                                        a(href="#").header__basket-item-img: +img('content/header__basket-item/1')
                                                        span.header__basket-item-desc
                                                            a(href="#").db.header__basket-item-title Пицца Мясника
                                                            span.header__basket-item-price 270₽
                                                            |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                            span.count
                                                                button.count__btn.count__btn_minus -
                                                                input(value='1').count__input
                                                                button.count__btn.count__btn_plus +
                                                    .header__basket-item
                                                        a(href="#").header__basket-item-img: +img('content/header__basket-item/2')
                                                        span.header__basket-item-desc
                                                            a(href="#").db.header__basket-item-title Пицца Мясника
                                                            span.header__basket-item-price 270₽
                                                            |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                            span.count
                                                                button.count__btn.count__btn_minus -
                                                                input(value='1').count__input
                                                                button.count__btn.count__btn_plus +
                                                br
                                                br
                                                button.header__basket-btn Оформить заказ

                                .sections-border-section(style="position: relative;")
                                    .header__listProfile.text-left
                                        - if(profile)
                                            a(href="#").header__listProfile-link
                                                .header__listProfile-link-ava: +img('content/personal', 'png')
                                            span.header__listProfile-notice Привет, Алексей! Давно не виделись!
                                        - else
                                            a(href="#").header__listProfile-link: +icon('user', 'svg-user', 21, 22)
                                        ul.header__listProfile-list
                                            li.selection: span: b Жан Мишель Жар
                                            li: a(href="#") Личный кабинет
                                            li: a(href="#") Любимые блюда
                                            li: a(href="#") Мои акции
                                            li: a(href="#") Бонусный баланс: 70 миль
                                            li: a(href="#"): b Активировать FlyCard
                                            li: a(href="#") Выйти





























